:root {
  --bkg: #add8e6;
  --text: #000;
  --a: unset;
  --details: grey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bkg: #000;
        --text: #add8e6;
        --a: lightblue;
        --details: lightgrey;
    }
}

:root {
    --hr: 1px solid var(--text);
}

a {
    color: var(--a);
}

#heading, h2 {
    border-bottom: var(--hr);
}

hr {
    border-top: var(--hr);
}

#heading h1 {
    margin-bottom: 0;
    margin-top: 0;
}

body {
    color: var(--text);
    background-color: var(--bkg);
    font-family: sans-serif;
}

#currentuser {
    float: right;
    margin-right: 5px;
}

.sep-pipe > span:not(:last-child)::after {
    content: "\00a0|\00a0";
    display: inline-block;
}

#welcome {
    /* W3 CSS Default settings of h3 */
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.contentgrid {
    /* https://zh.wikipedia.org/wiki/Template:ContentGrid */
    /* CC BY-SA 3.0, License at https://zh.wikipedia.org/wiki/Wikipedia:CC */
    display: grid;
    padding: 10px;
    margin-bottom: 1em;
    margin-right: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: auto;
}

.notelistcontent {
    border: 1px solid var(--text);
}

.notelistcontent > * {
    margin: 5px !important;
}

.notelistcontent .notelistcontenttitle {
    /* W3 CSS Default settings of h4 */
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.notelistcontent .notelistcontentdetails {
    color: var(--details);
}

.notelistcontent .notelistcontentdetails div {
    font-size: 0.7em;
}

.notelistcontent form > .form {
    width: calc(100% - 10px);
}

a.notelistcontent {
    display: block;
    text-decoration: none;
}
