.hidedefault {
    display: none;
}
textarea {
    color: var(--details);
    width: 100%;
    height: 400px;
}
input#title, #label-title {
    /* part of Default value of h3 */
    display: inline-block;
    font-size: 1.17em;
    font-weight: bold;
}
form {
    display: none;
}
#maincontent {
    white-space: pre;
    word-wrap: break-word;
}
#bodycontent {
    margin-left: 5px;
    margin-right: 5px;
}
#titledetails {
    color: var(--details);
    font-size: 0.7em;
    display: inline-block;
}
