<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
<html prefix="og: https://ogp.me/ns#" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }} | {{ sitename }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="preconnect" href="https://ajax.googleapis.com/" crossorigin />
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="heading">
        <div id="currentuser">{% if user.username != "" %}{% blocktranslate with uname=user.username %}Logged in: {{ uname }}{% endblocktranslate %}<br /><a href="/dashboard/">{% blocktranslate %}Dashboard{% endblocktranslate %}</a> | {% if user.is_staff %}<a href="/admin/">{% blocktranslate %}Admin{% endblocktranslate %}</a> | {% endif %}<a href="{% url 'logout' %}">{% blocktranslate %}Logout{% endblocktranslate %}</a>{% else %}{% blocktranslate %}Not logged in{% endblocktranslate %}<br /><a href="{% url 'login' %}">{% blocktranslate %}Login{% endblocktranslate %}</a> | <a href="{% url 'register' %}">{% blocktranslate %}Register{% endblocktranslate %}</a>{% endif %}</div>
        <h1 id="heading-title">{% block title %}{{ title }}{% endblock %}</h1>
    </div>
    <div id="bodycontent">{% block bodycontent %}{% endblock %}</div>
    <div style="clear: both;"></div>
    <hr />
    <div id="disclaimer">{{ disclaimer }}</div>
    <div id="githublink">Powered by <a href="https://github.com/Emojigit/dnotes">dnotes</a>.</div>
</body>
</html>
