{% extends 'main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'note.css' %}" />
    {% if n.owner == user %}<script src="{% static 'note.js' %}" async></script>{% endif %}
{% endblock %}

{% block bodycontent %}
    <div id="maincontent">{{ n.content | urlize }}</div>
    {% if n.owner == user %}<form action="/post_action/" method="post" id="editform">{% csrf_token %}
        <label for="title" id="label-title">Title:</label> <input type="text" id="title" name="title" required id="notetitle" value="{{ n.title }}" /><!-- type => text on edit mode --><br class="hidedefault" />
        <textarea id="content" name="content" required>{{ n.content }}</textarea><!-- remove disabled on edit mode --><br class="hidedefault" /><br />
        <input type="checkbox" id="linkshare" name="linkshare" value="yes" {% if n.link_share %}checked{% endif %} /><label for="linkshare"> Allow anyone with the link to view this note</label><br />
        <input type="hidden" id="type" name="type" required value="modify"/>
        <input type="hidden" id="tid" name="tid" required value="{{ n.tid }}"/>
        <input type="submit" value="Modify" /><button id="delete">Delete</button><button onclick="location.reload()" >Discard</button>
    </form>
    <button id="edit">Edit</button>{% endif %}
{% endblock %}
